<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/recipe.css" />
    <script defer src="../js/recipe.js"></script>
    <script
      defer
      src="https://kit.fontawesome.com/f198221260.js"
      crossorigin="anonymous"
    ></script>
    <title>QuickyMeals</title>
  </head>
  <body>
    <header class="header-container">
      <nav class="nav-container">
        <div class="icon-container"><p>QuickyMeals.com</p></div>
        <div class="bar-container">
          <input
            type="text"
            name="search-bar"
            id="search-bar"
            placeholder="Empieza a buscar recetas"
          />
          <div class="bar-icon">
            <i class="fa-solid fa-magnifying-glass" style="color: #fbfdfc"></i>
          </div>
        </div>
        <div class="links-container">
          <ul>
            <li>
              <a href="">
                <i class="fa-solid fa-chevron-down" style="color: #fbfdfc"></i>
                <p>Categorias</p>
              </a>
            </li>
            <li>
              <a href="">
                <p>Ver recetas</p>
              </a>
            </li>
            <li>
              <a href="">
                <p>Aprende</p>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-solid fa-plus" style="color: #fbfdfc"></i>
                <p>Subir receta</p>
              </a>
            </li>
            <li>
              <a href="" class="full-btn">
                <p>Unete</p>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container-recipe-section">
      <a href="#" class="back-recipe-link"
        ><i class="fa-solid fa-arrow-left"></i
      ></a>
      <section class="recipe-principal-container">
        <div class="recipe-specs">
          <p class="recipe-author-name">Juan Pablo Hernadez</p>
          <div class="recipe-title-dots-container">
            <h2>Crepa de espcecias</h2>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
          <p class="recipe-rating-str">
            5.0 (451)
            <span class="recipe-stars"
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star-half-stroke"></i
              ><i class="fa-regular fa-star"></i
            ></span>
          </p>
          <p class="recipe-info-txt">Informacion:</p>
          <div class="recipe-additional-info">
            <p class="recipe-time-p">
              Tiempo: <span class="recipe-time-txt">15:00 min</span>
            </p>
            <p class="recipe-difficulty-p">
              Dificultad: <span class="recipe-difficulty-txt">Facil</span>
            </p>
            <p class="recipe-categories-p">
              Categorias:
              <span class="recipe-categories-txt">Desayuno, Dulce</span>
            </p>
            <p class="recipe-recomended-p">
              Porciones recomendadas:
              <span class="recipe-recomended-txt">5</span>
            </p>
            <p class="recipe-video-p">
              Video: <span class="recipe-video-txt">Si</span>
            </p>
          </div>
          <div class="recipe-btns-container">
            <button class="recipe-btn-save">Guardar receta</button>
            <button class="recipe-btn-share">Compratir receta</button>
          </div>
        </div>
        <div class="recipe-visual">
          <div class="recipe-img-container-1">
            <img src="../src/imgs/pancakes.jpg" alt="Image of recipe" />
          </div>
          <div class="recipe-img-container-2">
            <img src="../src/imgs/pancakes.jpg" alt="Image of recipe" />
          </div>
          <div class="recipe-img-container-3">
            <img src="../src/imgs/pancakes.jpg" alt="Image of recipe" />
          </div>
          <div class="recipe-video-container">
            <img src="../src/imgs/pancakes.jpg" alt="Video of recipe" />
          </div>
        </div>
      </section>
      <div class="recipe-box-info-container">
        <div class="recipe-box-info">
          <div class="recipe-box-info-top">
            <p>Descripcion</p>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div
            class="recipe-box-info-bottom recipe-box-info-bottom-description"
          >
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima
              saepe enim sint aliquam ex! Labore nemo, repellendus cumque magni
              fugiat, aspernatur quisquam et fugit sapiente laboriosam non quasi
              soluta qui? <br />
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima
              saepe enim sint aliquam ex! Labore nemo, repellendus cumque magni
              fugiat, aspernatur quisquam et fugit sapiente laboriosam non quasi
              soluta qui? Lorem ipsum, dolor sit amet consectetur adipisicing
              elit. Minima saepe enim sint aliquam ex! Labore nemo, repellendus
              cumque magni fugiat, aspernatur quisquam et fugit sapiente
              laboriosam non quasi soluta qui?
            </p>
          </div>
        </div>
        <div class="recipe-box-info">
          <div class="recipe-box-info-top">
            <p>Ingredientes</p>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div
            class="recipe-box-info-bottom recipe-box-info-bottom-ingredients"
          >
            <p>
              Porciones con estos ingredientes:
              <span class="recomended-portions">1</span>
            </p>
            <ul class="ingredient-list-container">
              <li class="ingredient-li ingredient-li-1">
                <span class="ingredient-name">Arroz</span>:
                <span class="ingredient-portion">15</span>
                <span class="ingredient-medition">gr</span>
              </li>
              <li class="ingredient-li ingredient-li-2">
                <span class="ingredient-name">Leche</span>:
                <span class="ingredient-portion">1</span>
                <span class="ingredient-medition">L</span>
              </li>
              <li class="ingredient-li ingredient-li-3">
                <span class="ingredient-name">Nutella</span>:
                <span class="ingredient-portion">1</span>
                <span class="ingredient-medition">Cucharada</span>
              </li>
              <li class="ingredient-li ingredient-li-4">
                <span class="ingredient-name">Huevo</span>:
                <span class="ingredient-portion">1</span>
                <span class="ingredient-medition">Porcion</span>
              </li>
              <li class="ingredient-li ingredient-li-5">
                <span class="ingredient-name">Azucar</span>:
                <span class="ingredient-portion">1.5</span>
                <span class="ingredient-medition">Taza</span>
              </li>
            </ul>

            <div class="portion-system-container">
              <div class="calc-portion-btns">
                <p>Calcular ingredientes por porcion:</p>
                <div class="plus-i-container">
                  <i class="fa-solid fa-minus"></i>
                </div>
                <p class="number-custom-portion">1</p>
                <div class="minus-i-container">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
              <ul class="custom-ingredient-list-container">
                <li class="custom-ingredient-li custom-ingredient-li-1">
                  <span class="custom-ingredient-name">Arroz</span>:
                  <span class="custom-ingredient-portion">15</span>
                  <span class="custom-ingredient-medition">gr</span>
                </li>
                <li class="custom-ingredient-li custom-ingredient-li-2">
                  <span class="custom-ingredient-name">Leche</span>:
                  <span class="custom-ingredient-portion">1</span>
                  <span class="custom-ingredient-medition">L</span>
                </li>
                <li class="custom-ingredient-li custom-ingredient-li-3">
                  <span class="custom-ingredient-name">Nutella</span>:
                  <span class="custom-ingredient-portion">1</span>
                  <span class="custom-ingredient-medition">Cucharada</span>
                </li>
                <li class="custom-ingredient-li custom-ingredient-li-4">
                  <span class="custom-ingredient-name">Huevo</span>:
                  <span class="custom-ingredient-portion">1</span>
                  <span class="custom-ingredient-medition">Porcion</span>
                </li>
                <li class="custom-ingredient-li custom-ingredient-li-5">
                  <span class="custom-ingredient-name">Azucar</span>:
                  <span class="custom-ingredient-portion">1.5</span>
                  <span class="custom- ingredient-medition">Taza</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="recipe-box-info">
          <div class="recipe-box-info-top">
            <p>Pasos a seguir</p>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="recipe-box-info-bottom recipe-box-info-bottom-steps">
            <ol class="recipe-step-list">
              <li class="recipe-step recipe-step-1">Hervir agua</li>
              <li class="recipe-step recipe-step-2">Servir azucar</li>
              <li class="recipe-step recipe-step-2">Cocinar carne</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
